.container {
  width: 100%;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.sidebar {
  width: 20%;
  padding: 40px 30px 0;
  background: white;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;
  }
}
.logo {
  margin-bottom: 30px;
}
.input_search {
  position: relative;
  margin-bottom: 30px;
  label {
    background: white;
    width: fit-content;
    position: absolute;
    left: 15px;
    top: -8px;
    padding: 0 10px;
    font-size: 14px;
  }
  input {
    width: 218px;
    height: 56px;
    border: 2px solid #026926;
    border-radius: 4px;
    padding: 0 10px 0 40px;
    margin-bottom: 10px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: url('/assets/icon-search.svg') no-repeat 5% 50%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
.categories {
  margin-bottom: 30px;
  p {
    line-height: 28px;
    margin-bottom: 10px;
  }
}
.status {
  margin-bottom: 30px;
  p {
    line-height: 28px;
    margin-bottom: 10px;
  }
}
.results {
  width: 80%;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  &__top {
    background: #026926;
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 32px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: rgba(255, 255, 255, 0.87);
      padding: 0 40px;
    }
  }
  &__cards {
    margin-top: -70px;
    margin-left: 30px;
    .card {
      background: linear-gradient(118.54deg, #026926 29.4%, #0a3519 144.22%);
      border-radius: 10px;
      position: relative;
      width: 304px;
      min-height: 494px;
      padding-bottom: 20px;
    }
    .mini_card {
      background: #ffffff;
      box-shadow: 0px 20px 14px rgba(0, 0, 0, 0.25);
      width: 100%;
      margin-left: 34px;
      margin-top: -60px;
      position: relative;
      &__content {
        padding: 10px 20px;
      }
      &Name {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
      }
      &Nick {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #026926;
      }
      hr {
        border: 1px solid rgba(81, 64, 64, 0.4);
        width: 100%;
        background: none;
      }
      &Label {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
      }
      &Ocupation {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        position: relative;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent #026926;
          margin-right: 6px;
        }
      }
    }
  }
}
