<div class="container">
  <div class="sidebar">
    <figure class="logo">
      <!-- <img src="/assets/logo.png" alt="" /> -->
    </figure>
    <div class="input_search">
      <label for="">Search</label>
      <input type="search" placeholder="Saul" />
    </div>
    <div class="categories">
      <h3>Category</h3>
      <p>
        <input id="radio1" name="radio" checked="checked" type="radio" />
        <label for="radio1">Option 1</label>
      </p>
      <p>
        <input id="radio2" name="radio" checked="checked" type="radio" />
        <label for="radio2">Option 2</label>
      </p>
    </div>
    <div class="status">
      <h3>Status</h3>
      <p>
        <input type="checkbox" id="test1" />
        <label for="test1">Checkbox 1</label>
      </p>
      <p>
        <input type="checkbox" id="test2" />
        <label for="test2">Checkbox 2</label>
      </p>
    </div>
    <div class="buttons">
      <button class="btn-primary">SEARCH</button>
    </div>
  </div>
  <section class="results">
    <div class="results__top">
      <p>5 Results</p>
    </div>
    <div class="results__cards">
      <div class="card">
        <figure>
          <!-- <img src="/assets/walter.png" alt="" /> -->
        </figure>
        <img src="" alt="" />
        <div class="mini_card">
          <div class="mini_card__content">
            <p class="mini_cardName">Walter White</p>
            <p class="mini_cardNick">Heisenberg</p>
            <hr />
            <p class="mini_cardLabel">Ocupation</p>
            <p class="mini_cardOcupation">High School Chemistry Teacher</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
